
$Grey: #565656;
$GreyT: #56565680;


@font-face { font-family: Inter; src: url(../Fonts/inter/Inter-Medium.otf);}
@font-face { font-family: InterBold; src: url(../Fonts/inter/Inter-Bold.otf);}
@font-face { font-family: InterLight; src: url(../Fonts/inter/Inter-Light.otf);}

a { text-decoration: none;}

@mixin centerRow { display: flex; flex-direction: row; justify-content: center; align-items: center;}
@mixin centerCol { display: flex; flex-direction: column; justify-content: center; align-items: center;}


// @media screen and (max-width: 450px) {}
